body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
svg path{fill:black}
.wrap {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#rec {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
     border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

button:active, button:focus {
    outline: none;
}

button svg {
    display: block;
    fill: #fff;
    width: 80px;
    height: 80px;
}
.transcription-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.text-button, .edit-button, .delete-button {
    background: #f1f1f1;
    color: #000;
    border: 1px solid #ddd;
    /* border: none; */
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.text-button {
    flex: 1;
    text-align: left;
}

#toggle-command-mode.active {
    background: #28a745;
}
